<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<% provide(:title, 'About') %>
<img src="http://i.huffpost.com/gen/2435384/images/n-PARIS-large570.jpg" alt="Library" style="width:570px;height:238px;">
</br>
<h2>What is the Bookish Traveler?</h2>
  <p>Have you ever read your favorite book in it's setting?</p>
  <p>It's life-changing.</p>
  <p>There is something about finishing a chapter and being able to walk down the street that you just read about.
    You can feel the energy of the street, smell the same smells, see the glimmer on the same trees, recall that tiny shop with the neighborhood kook out front.
    The experience is much more real and memorable.</p>
  <p>This is the experience I want everyone to have. On your next plane ride or car ride, you have the ability to set the stage for your trip.
    This app is here to help you choose the perfect book for your travels. It is here to help you experience the adventure in a way you never have before.
    Embark on your journey with the best guide in hand-- a book that transforms the world around you.</p>
  <p>Enjoy!</p>

<h3>Technologies include:</h3>
<p>This app is my 2nd project for General Assembly's Web Development Immersive course.
  It is built in Ruby on Rails with a PostgreSQL database. I used Bootstrap, SASS, GMaps, and GoodReads API.</p>
<ul>
  <li><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
  <li><a href="http://rubyonrails.org/">Rails 4.2</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
  <li><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
  <li><a href="http://www.heroku.com/">Heroku</a></li>
</ul>
